                    /* Page styles Challenges 1 through 4*/
/* * 
{
    box-sizing: border-box;
} */

                    /* Body styles Challenges 1 through 4*/
/* body 
{
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
} */

                    /* Page styles Challenges 5 through 6*/
/* * {
    box-sizing: border-box;
} */

                    /* Body styles Challenges 5 through 6*/
/* body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/
/*A*/
.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}
/*B*/
/*C*/
.container {
    display: flex;
    flex-direction: column;
}

.container > h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.counter {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-top: 40px;
}

.counter > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    margin-block: 0 10px;
    font-size: 2rem;
}

/*D*/
/*E*/
/*F*/
/*G*/
/*H*/
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img 
{
    width: 50px;
}

header > h1 
{
    font-weight: 400;
}
/*I*/
/*J*/
/*K*/
/*L*/
/*M*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .title {
    text-align: center;
}

main > .value {
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.minus {
    margin-right: -20px;
    z-index: 1;
}
/*N*/
/*O*/
/*P*/
.plus {
    margin-left: -20px;
}
/*Q*/
/*R*/
/*S*/
/*T*/
/*U*/
/*V*/
/*W*/
/*X*/
/*Y*/
/*Z*/
